{%extends 'layaout.html.twig'%}

{% block body %}
   
    <div class="ui inverted segment" style="width:80%; margin-left: auto; margin-right: auto;">
        <h1 class="ui header" style="text-align: center;">{{'Autenticación de usuario'|trans}}</h1>   
        <form name="login" id="login" action="{{ path('_login_seguro') }}" method="post"> 
            <div class="ui inverted form">      
                <div class="two fields">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}       
                    <div class="field">
                        <label for="username">{{'Usuario'|trans}}:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="field">
                        <label for="password">{{'Contraseña'|trans}}:</label>
                        <input type="password" id="password" name="_password">
                    </div>
                        <button class="ui submit button" style="margin: 22px .25em 0 0 !important;">{{'Ingresar'|trans}}</button>
                </div>
            </div>  
        </form>            
    </div>
                                                                       
{% endblock %}
