{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <!-- Listar articulos -->
                {% for noticia in noticias %}
                    <div class="article-container my-1" style="background: antiquewhite; width: 110%; margin-top: 1.25rem !important;">
                        <!-- General la url de la noticia con la función
                       path a partir de los datos que tenemos para ir a la página de la
                       noticia -->
                        ​<a href="{{ path('verNoticia',{'seccion':noticia.seccion, 
                                   'titular':noticia.textoTitular}) }}">
                            <!-- Icono noticia -->
                            <img class="article-img" style="width: 30px;" src="{{ asset('images/tenis.jpg')}}">
                            <div class="article-title d-inline-block pl-3 align-middle" style="padding-top: 3%;">
                                <!-- Sección de la noticia -->
                                <span>{{ titulo }}​</span>
                                <br>
                                <!-- Fecha de la noticia -->
                                <span class="pl-5 article-details float-right" style="padding-left: 18rem !important;"> 
                                    {{noticia.fecha}}</span>
                            </div>
                        </a>
                    </div>
                   
                    ​<a class="main-article-link" href="{{path('verNoticia', {'seccion':noticia.seccion,
                                                        'titular':noticia.textoTitular}) }}">
                        ​<div class="main-article mb-5 pb-3">
                          <img style="width: 150px 150px;" src="{{ asset('images/portada-tenis.jpg')}}" >
                              ​<h1 class="text-center mt-2">​{{noticia.textoTitular|replace({'-': " "})}}​</h1>
                        </div>
                    </a>
                {% else %}
                    {{'No se han encontrado noticias' | trans }}!
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}