{% extends 'layaout.html.twig' %}

{% block body %}
{{parent()}}     

<div class="ui segment" style="width: 40%; margin-left: auto; margin-right: auto;
                               background: gainsboro;">
    <h3 class="ui dividing header" style="text-align: center; ">Nuevo Usuario</h3>   
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','role':'form'} })}}
    <div class="ui form">      
        <div class="field">
            <label> Usuario </label>
            {{ form_widget(form.username,{'attr': {'class' : 'form-control','placeholder' : 'usuario'}} ) }}
            {{ form_errors(form.username) }}
        </div>
        <div class="field">
            <label> Nombre </label>
            {{ form_widget(form.firstName,{'attr': {'class' : 'form-control','placeholder' : 'nombre'}} ) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="field">
            <label> Apellidos </label>
            {{ form_widget(form.lastName,{'attr': {'class' : 'form-control','placeholder' : 'apellidos'}} ) }}
            {{ form_errors(form.lastName) }}
        </div> 
        <div class="field">
            {{ form_label(form.email) }}
            {{ form_widget(form.email,{'attr': {'class' : 'form-control','placeholder' : 'email'}} ) }}
            {{ form_errors(form.email) }}
        </div> 
        <div class="field">
            {{ form_label(form.password) }}
            {{ form_widget(form.password,{'attr': {'class' : 'form-control','placeholder' : 'password'}} ) }}
            {{ form_errors(form.password) }}
        </div> 
        <div class="field">
            <label> Rol </label>
            {{ form_widget(form.role,{'attr': {'class' : 'form-control'}} ) }}
            {{ form_errors(form.role) }}
        </div> 
        <div class=" inline field" > 
            <label style="cursor:pointer" for="form_user_IsActive"> Activo </label>
            {{ form_widget(form.IsActive) }}
        </div> 
        {{ form_errors(form.IsActive) }}
        <div class="ui dividing header"> </div>
        <div style="margin-top: 3%">
         {{form_widget(form.guardar, {'label': 'Crear usuario', 'attr': {'class' : 'ui primary button'}} ) }}
       </div>
       
    </div>        
    {{form_end(form)}}    
</div>   
            
{%endblock%}