{% extends 'layaout.html.twig' %}
{% block body %}
 {{parent()}}     
<div style="margin-left: auto; margin-right: auto; margin-top:5%;">
    <h2 class="ui dividing header" style="width: 64%; margin-left: 15%;">Lista de Tareas</h2>
    <div class="ui ribbon blue label" style="margin-left: 15%;">
    Total registros: {{pagination.getTotalItemCount}}
    </div>
    <form method="post" name="search" action="" role="search">
        <div class="ui category search" style="margin-left: 15%; margin-top: 2%;">
            <div class="ui icon input">
                <input class="prompt" name="query" value="{{app.request.get('query')}}" placeholder="Buscar registro..." type="text" >
                <i class="search icon"></i>
            </div>
                <div class="results"></div>    
        </div>
    </form> 
    {%if not pagination|length %}
       <h2 class="ui header" style="margin-left: 15%;">No existen usuarios con esos par&aacutemetros de b&uacutesqueda</h2>
    {%endif%}
    {%if pagination|length %}
    <table class= "ui collapsing  celled table" border="1" style="margin-left: 15%;">
        <thead>
            <tr>
                <th>{{knp_pagination_sortable(pagination, 'Título','t.titulo')}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Fecha','t.createdAt')}}</th> 
                <th>{{'Usuario'}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Estado','t.estado')}}</th> 
                <th>Acci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for task in pagination %}
                <tr>
                    <td>{{task.titulo}}</td>
                    <td>{{task.createdAt|date('d-m-Y H:i')}} </td>
                    <td>{{task.user.fullName}} </td>
                    <td>{{task.estado}}</td>        
                    <td class="actions">
                        <a href="#" class="ui green basic button">Ver</a>
                        <a href="#" class="ui orange basic button">Editar</a>    
                        <a href="#" class="ui red basic button">Borrar</a>             
                    </td>                     
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}    
    <div style="margin-left: 15%;">
        {{knp_pagination_render(pagination)}}
    </div>    
</div>

<div class="ui small modal">
  <div class="ui icon header">
    <i class="exclamation circle icon"></i>
    Atención
  </div>
  <div class="content">
    <p>Va a borrar la tarea, ¿Estás seguro?</p>
  </div>
  <div class="actions">
    <div class="ui black deny button">No</div>  
    <div class="ui positive button">
    Si
    <i class="checkmark icon"></i>
    </div>   
  </div>
</div>
        
          
{%endblock%}{# empty Twig template #}
