
{% extends 'layaout.html.twig' %}
{% block body %}
 {{parent()}}     
<div style="margin-left: auto; margin-right: auto;">
    <h2 class="ui dividing header">{{'Listado de usuarios'|trans}}</h2>
    <div class="ui ribbon blue label" style="margin-bottom:1%;">
        {{'Total registros'|trans}}: {{pagination.getTotalItemCount}}
    </div>
    {%if pagination|length %}
    <table class= "ui collapsing  celled table" border="1" style="text-align:center;">
        <thead>
            <tr>
                <th>{{knp_pagination_sortable(pagination, 'Usuario'|trans,'u.username')}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Nombre'|trans,'u.firstName')}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Apellidos'|trans,'u.lastName')}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Email','u.email')}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Rol'|trans,'u.role')}}</th>
                <th>{{knp_pagination_sortable(pagination, 'Activo'|trans,'u.isActive')}}</th>
                <th>{{'Acción'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.firstName}} </td>
                    <td>{{user.lastName}} </td>
                    <td>{{user.email}}</td>
                    <td>
                        {% if user.role == 'ROLE_ADMIN' %}
                            <strong>{{'Administrador'|trans}}</strong>
                        {% elseif user.role == 'ROLE_USER' %}
                            <strong>{{'Usuario'|trans}}</strong>
                        {% endif %}                  
                    </td>
                    <td>
                        {% if user.isActive == '1' %}
                            <strong>{{'Si'|trans}}</strong>
                        {% elseif user.isActive == '0' %}
                            <strong>No</strong>
                        {% endif %}                   
                    </td>
                   
                    <td class="actions">
                        <a href="{{ path('_ver_usuario', {id: user.id}) }}" class="ui green basic button">{{'Ver'|trans}}</a>
                        <a href="{{ path('_editar_usuario', {id: user.id}) }}" class="ui orange basic button">{{'Editar'|trans}}</a>    
                        <a href="{{ path('_borrar_usuario_listado', {id: user.id}) }}" id="enlace_{{user.id}}" class="ui red basic button">{{'Borrar'|trans}}</a>             
                    </td>                     
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}    
    <div>
        {{knp_pagination_render(pagination)}}
    </div>    
</div>

<div class="ui small modal">
  <div class="ui icon header">
    <i class="exclamation circle icon"></i>
    {{'Atención'|trans}}
  </div>
  <div class="content">
    <p>{{'Va a borrar el usuario, ¿Estás seguro?'|trans}}</p>
  </div>
  <div class="actions">
    <div class="ui black deny button">No</div>  
    <div class="ui positive button">
        {{'Si'|trans}}
    <i class="checkmark icon"></i>
    </div>   
  </div>
</div>
        
          
{%endblock%}
