{% extends 'layaout.html.twig' %}
{% block body %}
 {{parent()}}     
<div style="margin-left: auto; margin-right: auto; margin-top:12%;">
    <h2 class="ui dividing header" style="width: 64%; margin-left: 15%;">Lista de Tareas</h2>
    <div class="ui ribbon blue label" style="margin-left: 15%;">
    Total registros: {{pagination.getTotalItemCount}}
    </div>
    {%if not pagination|length %}
       <h2 class="ui header" style="margin-left: 15%;">No existen tareas con esos par&aacutemetros de b&uacutesqueda</h2>
    {%endif%}
    {%if pagination|length %}
    <table class= "ui collapsing  celled table" border="1" style="margin-left: 15%;">
        <thead>
            <tr>
                <th>{{knp_pagination_sortable(pagination, 'Título','t.titulo')}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Fecha','t.createdAt')}}</th> 
                <th>{{'Usuario'}}</th> 
                <th>{{knp_pagination_sortable(pagination, 'Estado','t.estado')}}</th> 
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for task in pagination %}
                <tr>
                    <td>{{task.titulo}}</td>
                    <td>{{task.createdAt|date('d-m-Y H:i')}} </td>
                    <td>{{task.user.fullName}} </td>
                    <td>
                        {% if task.estado == '1' %}
                            <span class="contarea"><i class="check circle outline icon"></i></span>
                        {% elseif task.estado == '0' %}
                             <span class="sintarea"><i class="clock outline icon"></i></span>
                        {% endif %}                   
                    </td>     
                    <td class="actions">
                        <a href="{{ path('_ver_tarea', {id: task.id}) }}" class="ui green basic button">Ver</a>
                         <a href="#" class="ui blue basic button">Procesar</a> 
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_ADMIN')%}      
                        <a href="{{ path('_editar_tarea', {id: task.id}) }}" class="ui orange basic button">Editar</a>    
                        <a href="{{ path('_borrar_tarea_listado', {id: task.id}) }}" id="enlace_{{task.id}}" class="ui red basic button">Borrar</a>
                        {%endif%}
                    {%endif%}    
                    </td>                     
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}    
    <div style="margin-left: 15%;">
        {{knp_pagination_render(pagination)}}
    </div>    
</div>
          
{%endblock%}{# empty Twig template #}