{% extends 'layaout.html.twig' %}
{% block body %}
 {{parent()}}     
<div class="ui segment" style="width: 40%; margin-left: auto; margin-right: auto;
                               background: gainsboro;">
    <h3 class="ui dividing header">{{user.firstName}} {{user.lastName}}</h3> 
    <div class="ui middle aligned divided list">
        <div class="item" style="margin-top:2%;"> 
            <div class="content">
                <div class="header">{{'Usuario'|trans}}</div>
              <div class="description" style="margin-top:1%;">{{user.username}}</div>
            </div>
        </div> 
        <div class="item" style="margin-top:2%;"> 
            <div class="content">
              <div class="header">{{'Nombre'|trans}}</div>
              <div class="description" style="margin-top:1%;">{{user.firstName}}</div>
            </div>
        </div>        
        <div class="item" style="margin-top:2%;"> 
            <div class="content">
                <div class="header">{{'Apellidos'|trans}}</div>
              <div class="description" style="margin-top:1%;">{{user.lastName}}</div>
            </div>
        </div>        
        <div class="item" style="margin-top:2%;"> 
            <div class="content">
              <div class="header">Email</div>
              <div class="description" style="margin-top:1%;">{{user.email}}</div>
            </div>
        </div>     
        <div class="item" style="margin-top:2%;"> 
            <div class="content">
              <div class="header">{{'Rol'|trans}}</div>
              <div class="description" style="margin-top:1%;">
                {% if (user.role =='ROLE_ADMIN')%} 
                    <span> {{'Administrador'|trans}} </span>
                {%else%}    
                    <span> {{'Usuario'|trans}} </span>
                {%endif%}
              </div>
            </div>
        </div>    
        <div class="item" style="margin-top:2%;"> 
            <div class="content">
              <div class="header">{{'Activo'|trans}}</div>
              <div class="description" style="margin-top:1%;">
                {% if (user.isActive =='1')%} 
                    <span>{{'Si'|trans}}</span>
                {%else%}    
                   <span>No</span>
                {%endif%}
              </div>
            </div>
        </div>    
        <div class="actions" style="margin-top:3%;">
            <a href="{{ path('_editar_usuario', {id: user.id}) }}" class="ui primary button">{{'Editar'|trans}} {{'Usuario'|trans}}</a>
            {{include ('form.html.twig', {form: borrar_form})}}      
        </div>   
    </div>    
</div>    
          
{%endblock%}
